annotated-types==0.8.0
anyio==4.15.1
colorama==0.4.6
dateparser==1.4.3
et_xmlfile==2.0.0
h11==0.16.0
httpcore2==2.13.0
httpx2==2.13.0
idna==3.20
langdetect==1.0.9
numpy==2.3.5
openpyxl==3.1.5
pandas==2.3.3
phonenumbers==9.0.39
pydantic==2.13.5
pydantic_core==2.46.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
pytz==2026.3.post1
regex==2026.9.10
six==1.17.0
tenacity==9.1.4
tqdm==4.70.1
truststore==0.10.4
typesafe-sdk==0.7.1
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.4
tzlocal==5.4.4
